.question {
    background-color: #880808;
    width: 50%;
    text-align: center;
    outline: black 5px solid;
    border-radius: 15px;
}

body {
    background-image: url(../Pictures/background.jpg);
}

.button {
    font-size: 2em;
    padding: 10px, 20px;
    color: black;
    background: #880808;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.button:hover {
    transform: scale(1.2);
}

img {
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    text-align: center;
}

.click {
    width: 50%;
}