body {
    background-color: floralwhite;
}
.quiz-header {
    display: flex;
    gap: 10%;
    background-color: bisque;
    
}
.quiz-title {
    display: inline-block;
}
.quiz-title-text {
    font-size: 5em;
    width: 100%;
    letter-spacing: 10x;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 3s;
}
@keyframes typing {
    from {width: 0;}
}
.quiz-desc {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 150%;
    text-align: left;
}
.quiz-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 900px;
    margin: auto;
}
.quiz-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    background-color: #eee3db;
    border-radius: 3%;
    transition: transform 0.5s ease;
}
.quiz-image {
    flex: 1;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 30;
    margin-left: 3px;

}
img {
    width: 120%; 
    height: auto;
    display: block;
    border-radius: 3%;
}
.quiz-description {
    flex: 1;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
}
.quiz-card:hover {
    background: linear-gradient(to right, #ecbfbf, #f8e2d2); 
    transform: scale(1.05);
    border-radius: 3%;
}
footer {
    border-radius: 10px;
}