.bodyTitle {
    width: 100%;
    height: 15%;
    text-align: center;

}

#nav {
    border-radius: 10px;
}

.bodyContentGrid {
    width: 75vw;
    height: 58vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    margin-top: 3vh;
}

.bodyContentGrid a img {
    width: 100%;
    height: 100%;
}

.bodyContentGrid a {
    width: 400px;
    height: 200px;
    display: flex;

}

.bodyContentGridItemWrapper {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    overflow: hidden;
    justify-items: center;

}

.bodyContentGrid a:hover {
    transform: scale(1.05);
}

#bodyMain {
    background-image: linear-gradient(to bottom right, #ED1D24, #FFC20F);
    border-radius: 10px;
}

body {
    background-image: linear-gradient(to bottom left, #2ebfb8, #00c251);
}

footer {
    border-radius: 10px;
}