@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poppins&display=swap');

:root {
    --primary-colour: rgba(255, 255, 255, 0.6);
    --secondary-colour: #fff2d5;
    --third-colour: #e8f5e9;
    --fourth-colour: #d31027;
    --fifth-colour: white;
    --sixth-colour: #98c4ac;
}
.dark-theme {
    --primary-colour: #444444;
    --secondary-colour: #585754;
    --third-colour: #565956;
    --fourth-colour: #141414;
    --fifth-colour: #545151;
    --sixth-colour: #828884b9;
}
#moon-icon {
    position: fixed;
    top: 100px;
    right: 20px;
    width: 40px;
    cursor: pointer;
    z-index: 1000;
    background-color: var(--third-colour);
    border-radius: 7%;
} 
body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    min-height: 100%;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    background: var(--primary-colour);
}

.quiz-container {
    width: 70%;
    max-width: 1200px;
    margin: 50px auto 60px auto; 
    background: var(--fifth-colour);
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
    position: relative; 
}

.quiz-container h1 {
    font-family: 'Bangers';
    font-size: 48px;
    color: #d31027;
    text-shadow: 2px 2px #fad089;
    margin-bottom: 30px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.quiz-image {
    max-width: 270px;
    flex: 1 1 40%;
    border-radius: 10px;
}

.paragraph {
    flex: 1 1 50%;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary-colour);
    font-size: 16px;
    line-height: 1.6;
    border: 3px solid #000; 
    box-shadow: 4px 4px 0px #333; 
}

.quiz-box {
    border: 2px solid #e9e4e4c7;
    padding: 30px;
    border-radius: 15px;
    background-color: var(--fifth-colour);
    color: #000000;  
    border: 3px solid #000; 
    box-shadow: 4px 4px 0px #333; 
    margin-top: 3%;
}

button, .answer-btn {
    background: var(--fourth-colour);
    color: white;
    padding: 12px 25px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

button:hover, .answer-btn:hover:not(.selected) {
    background: linear-gradient(to right, #a6b312, #d3c22f);
    transform: scale(1.05);
}


.answer-btn-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.answer-btn {
    width: 40%;
    box-sizing: border-box;
}

/* marked as important to remove the gradient overrride after selection*/
.answer-btn.selected {
    background: #d7e149 !important; 
    color: #000 !important;
    border: 3px solid #76833f !important;
    box-shadow: 0 0 0 3px #fff inset;
    transform: none !important;
}
.question-gif {
    height: auto;
    margin: 15px 0;
    border-radius: 10px;
    width: 40%;
}
.question-text
{
  font-size: 20px;
  font-weight: bold;
  background-color: var(--sixth-colour);
  border-radius: 20px;
}

.result-des {
    font-size: 110%;
    font-weight: bolder;
    background-color: #f5e8d6c7;
    border-radius: 3%;
}

.recommended-quiz {
    margin-top: 10%;
    width: 300px;
    border-radius: 3%;
}
.recommended-quiz:hover {
    transform: scale(1.05);
}
.recommended-quiz-container {
    display: flex;
    gap: 30px; 
    justify-content: center; 
    flex-wrap: wrap; 
}

#character-result {
    background-color: #d2d1d1c7;
    border-radius: 20%;
}
