#nav {
    height: 10vh;
    width: 97vw;
    background-color: red;
    display: inline-block;
    align-self: center;
    margin: 0.5vw;
    margin-right: 0.8vw;
    margin-left: 0.8vw;
}

body {
    align-self: center;
    align-content: center;
    align-items: center;
    width: 98.2vw;
    height: 76vh;
    margin-left: 0.8vw;
    margin-right: 0.8vw;
}
#bodyMain {

    display:flex;
    flex-direction: column;
    width: 97vw;
    height: 76vh;
    margin-left: 0.8vw;
    margin-right: 0.8vw;
    margin-bottom: 1vh;
    background-color: antiquewhite;
}
.buttonFrame {
    display:flex;
    width: 96vw;
    height: 10vh;
    margin-left: 0.8vw;
    margin-right: 0.8vw;
    margin-bottom: 1vh;
    background-color: grey;
}

#questionButtonOverite {
    margin-bottom: 0.5vh;
}

footer {
    width: 97vw;
    height: 8vh;
    margin-top: 0.5vw;
    margin-left: 0.8vw;
    margin-right: 0.8vw;
    background-color: olivedrab;
}

.questionFrame {
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;

}

form {
    width: 100%;
    height: 100%;
}
.questionWrapper {
    display: flex;
    width: 100%;
    height: 15%;
    flex-direction: row;
}


.questionImage {
    float: left;
    width: 30%;
    height: 100%;
    background-color: olivedrab;
}
.questionHeader {
    float: right;
    width: 70%;
    height: 40%;
    overflow: hidden;
    background-color: olive;
}

.questionHeader p {
     margin-block: 0;
}

.questionContents {
    display: flex;
    flex-direction:column;
    float: right;
    width: 70%;
    height:100%;
    background-color: aliceblue;
}

.questionRadioGrid {
    display: inline-grid;
    align-self: center;
    grid-template-columns: 1fr 1fr;
    float: right;
    width: 70%;
    height:100%;
    background-color: aliceblue;
}