

.questionFrame {
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;

}

form {
    width: 100%;
    height: 100%;
}
.questionWrapper {
    display: flex;
    width: 100%;
    height: 15%;
    flex-direction: row;
}


.questionImage {
    float: left;
    width: 30%;
    height: 100%;
    background-color: olivedrab;
}
.questionHeader {
    float: right;
    width: 70%;
    height: 40%;
    overflow: hidden;
    background-color: olive;
}

.questionHeader p {
     margin-block: 0;
}

.questionContents {
    display: flex;
    flex-direction:column;
    float: right;
    width: 70%;
    height:100%;
    background-color: aliceblue;
}

.questionRadioGrid {
    display: inline-grid;
    align-self: center;
    grid-template-columns: 1fr 1fr;
    float: right;
    width: 70%;
    height:100%;
    background-color: aliceblue;
}